# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# local files
.DS_Store
*.pem
*.log

# environment variables
.env
.env.local
.env.*.local

# tests
/coverage

# TypeScript
*.tsbuildinfo
next-env.d.ts

# temporary research
/work/
